body {
    width: 1200px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color:#a8a8aa;
}

.header {
    background: #2f2f30;
    color:aliceblue;
    padding: 20px;

    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

.logo {
    color:rgb(88, 139, 248);
    font-weight: bold;
}

.header_item {
    padding: 10px 15px;
    margin-left: 5px;
    
}

.header_item:hover {
    background-color: #424246;
    border-radius: 5px;
}

main {
    background: rgb(230, 229, 229);
}

.main_books {
    display: flex;
    flex-wrap: wrap;
}

.main_books_item {
    display: flex;
    width: 350px;
    height: 500px;
    background: rgb(88, 87, 87);
    color: white;
    margin: 25px;

    align-items: center;
    justify-content: center;
}

.info {
    display: none;
}

.main_books_item:hover .info{
    display: block;
}


